* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(43, 1, 134);
    height: 60vh;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
    max-width: 100%;
    font-size: 60px;
    color: white;
    /* position: fixed; */
    margin-bottom:50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


#jogo{
    width:600px;
    height:600px;
    margin-left: 750px;
    border:solid 3px;
    color: palevioletred;
}

.bloco{
    width:200px;
    height:100%;
    color: #ffffff;
    border-right:solid 3px;
    transition: 0.2s ease-in-out;
    }
     
    .bloco:hover {
    cursor: pointer;
    background: #ffffff;
    }

